<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{layouts/main_layout :: head(title = 'Pairwase comparison')}"></th:block>

    <!--    OWN CREATED STYLES-->
    <link rel="stylesheet" th:href="@{/css/answer.css}">


</head>


<body>

<div th:replace="~{layouts/main_layout :: navbar}"></div>

<div class="new-content">
    <div class="container-fluid">

        <section id="answer">

            <!--
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-6 col-md-10 col-sm-12 answer-form-alerts">
        <div id="alerts">
            <div class="alert alert-danger fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Invalid!</strong>
            </div>
        </div>
    </div>
</div>-->


            <div class="row h-100 justify-content-center align-items-center">

                <div class="col-lg-8 col-md-12 answer-box">

                    <div class="criteria-comparison">

                        <div class="criteria-comparison-welcome-msg">
                            Criteria comparison
                        </div>
                        <div class="criteria-comparison-question">
                            What is the advantage one criteria over other in pupose of selecting most suitable IDE for
                            you
                        </div>
                        <hr>
                        <div class="answer-form">
                            <form id="answerForm" th:action="@{/answer}"
                                  method="POST">
                                <th:block th:each="comparison: ${comparisons}">
                                    <div class="ahp-range">
                                        <div class="comparison">

                                            <div th:class="${'saaty-scale '+comparison.getChoice1().getCriteriaName()+'-'+ comparison.getChoice2().getCriteriaName()}">
                                                equal
                                            </div>

                                            <label th:for="${comparison.getChoice1().getCriteriaName()+'-'+ comparison.getChoice2().getCriteriaName()}">
                                            <span class="leftLabel"
                                                  th:text="${comparison.getChoice1().getCriteriaName()}">
                                                Criterium 1
                                            </span>

                                                <span class="rightLabel"
                                                      th:text="${comparison.getChoice2().getCriteriaName()}">
                                                Criterium 2
                                            </span>
                                            </label>
                                            <input type="range" min="1" max="17" value="9" class="range"
                                                   th:id="${comparison.getChoice1().getCriteriaName()+'-'+ comparison.getChoice2().getCriteriaName()}"
                                                   name="criteriaRating" oninput="setSaatyScale(this.id)">
                                            <!--th:field="*{comparison.value}"-->
                                        </div>
                                    </div>
                                </th:block>


                                <div class="next-step">
                                    <button type="submit" class="btn btn-dark next-button">
                                        Next
                                    </button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>

<div th:replace="~{layouts/main_layout :: footer}"></div>


<script type="text/javascript" th:src="@{/vendors/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/vendors/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/vendors/js/jquery.waypoints.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script type="text/javascript" th:src="@{/js/answer.js}"></script>


</body>
</html>