<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{layouts/main_layout :: head(title = 'Questionnaire')}"></th:block>

    <!--    OWN CREATED STYLES-->
    <link rel="stylesheet" th:href="@{/css/questionnaire.css}">


</head>


<body>

<div th:replace="~{layouts/main_layout :: navbar}"></div>

<div class="new-content">
    <div class="container-fluid">

        <section id="questions">
            <form th:action="@{/survey}" method="post">
                <div class="question" id="question-1">
                    <h5>Do you want to make a choice with others <strong>(Registration required)</strong></h5>
                    <div class="answers">
                        <div class="answer">
                            <div class="toggle-checkbox">
                                <input type="checkbox" id="toggle-checkbox" th:name="share">
                                <label for="toggle-checkbox">
                                    <div class="circle-inner">

                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="question" id="question-3">
                    <h5>What is your programming experience</h5>
                    <div class="answers">
                        <div class="answer">
                            <div class="radio">
                                <input type="radio" id="newbieExp" th:name="programmerExp" th:value="newbieExp" checked>
                                <label for="newbieExp">I am newbie to programming</label>
                            </div>

                        </div>
                        <div class="answer">
                            <div class="radio">
                                <input type="radio" id="midExp" th:name="programmerExp" th:value="midExp">
                                <label for="midExp">I have some experience in programming</label>
                            </div>
                        </div>
                        <div class="answer">
                            <div class="radio">
                                <input type="radio" id="proExp" th:name="programmerExp" th:value="proExp">
                                <label for="proExp">I am professional programmer</label>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="question" id="question-2">
                    <h5>Additional requirements</h5>
                    <div class="answers">
                        <div class="answer">
                            <!--
    <div class="checkbox">

        <input type="checkbox" id="checkbox_1">
        <label for="checkbox_1">Get some information about AHP method</label>

    </div>
    -->
                            <a href="https://en.wikipedia.org/wiki/Analytic_hierarchy_process" target="_blank">
                                <i class="fas fa-info-circle"></i>Get some information about AHP method
                            </a>
                        </div>
                        <div class="answer">
                            <!--
                            <div class="checkbox">

                                <input type="checkbox" id="checkbox_2">
                                <label for="checkbox_2">
                                Check what you can gain using this method
                           </label>


                            </div>
    -->
                            <a href="https://en.wikipedia.org/wiki/Integrated_development_environment" target="_blank">
                                <i class="fas fa-plus-circle"></i>
                                Check what an integrated development environment is
                            </a>

                        </div>

                    </div>
                </div>


                <div class="question" id="question-4">
                    <h5>Click button to continute</h5>
                    <div class="answers">
                        <div class="answer">
                            <button type="submit" class="btn btn-dark next-button">Next
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

    </div>
</div>

<div th:replace="~{layouts/main_layout :: footer}"></div>


<script type="text/javascript" th:src="@{/vendors/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/vendors/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/vendors/js/jquery.waypoints.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script type="text/javascript" th:src="@{/js/survey.js}"></script>
</body>
</html>